<div class="popup" style="display: none;">
	<div class="mask"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<div class="fields">
			<h1 data-bind="i18n: {'key': '%MODULENAME%/HEADING_AUTHENTICATOR_APP'}"></h1>
			<div class="fieldset">
				<div class="row">
					<h3 data-bind="i18n: {'key': '%MODULENAME%/HEADING_AUTHENTICATOR_APP'}" style="margin: 0;"></h3>
				</div>
				<div class="row hint">
					<span data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH_USE'}"></span>
				</div>
				<div class="fieldgroup">
					<h3 data-bind="i18n: {'key': '%MODULENAME%/LABEL_QR_CODE'}"></h3>
					<span class="QRCode">
						<img data-bind="attr: {src: QRCodeSrc}" />
					</span>
				</div>
				<div class="fieldgroup">
					<h3 data-bind="i18n: {'key': '%MODULENAME%/LABEL_SECRET_KEY'}"></h3>
					<span class="secret" data-bind="text: secret"></span>
				</div>
				<div class="fieldgroup">
					<div class="row hint" style="margin: 0 -6px 12px;">
						<span data-bind="i18n: {'key': '%MODULENAME%/HINT_PIN_DESCRIPTION'}"></span>
					</div>
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PIN'}"></span>
					<input id="pin" class="value input" type="text" data-bind="value: pin, hasFocus: pinFocus, valueUpdate: 'afterkeydown', onEnter: validateAuthenticatorCode">
					<div class="buttons">
						<span class="button" data-bind="command: saveCommand, visible: !saveInProgress()">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
						</span>
						<span class="button" data-bind="visible: saveInProgress">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
						</span>
						<span class="button secondary_button" data-bind="click: cancelSetupAuthenticatorApp">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
