<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>

<div class="panel_center">
	<div class="fields">
		<!-- password is not verified yet -->
		<div class="fieldset" data-bind="visible: !isEnabledTwoFactorAuth() && !isShowSecret()">
			<div class="row hint" style="margin: 0 -6px 12px;">
				<span data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH'}"></span>
			</div>
			<div class="buttons" style="text-align: left; margin: 0;">
				<span class="button" data-bind="click: confirmPassword">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_ENABLE_TWOFACTORAUTH'}"></span>
				</span>
				<span class="button contour_button" data-bind="click: disableShowRecommendation, visible: showRecommendationToConfigure">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_REFUSE_CONFIGURE'}"></span>
				</span>
			</div>
		</div>
		<div class="fieldset" data-bind="visible: isEnabledTwoFactorAuth() && !isShowSecret()">
			<div class="row hint" style="margin: 0 -6px 12px;">
				<span data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH_ENABLED'}"></span>
			</div>
			<div class="buttons" style="text-align: left; margin: 0;">
				<span class="button" data-bind="click: confirmPassword">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CONFIGURE'}"></span>
				</span>
			</div>
		</div>
		
		
		<!-- password is verified -->
		<!-- ko if: isShowSecret() && showOptions() -->
			<div class="fieldset">
				<div class="row hint" style="margin: 0 -6px;">
					<span data-bind="i18n: {'key': '%MODULENAME%/HINT_TWA_OPTIONS'}"></span>
				</div>
			</div>
			<div class="fieldset">
				<div class="fieldgroup">
					<div class="row">
						<h3 data-bind="i18n: {'key': '%MODULENAME%/HEADING_AUTHENTICATOR_APP'}" style="margin: 0;"></h3>
					</div>
					<div class="row hint" data-bind="visible: !isEnabledTwoFactorAuth()">
						<span data-bind="i18n: {'key': '%MODULENAME%/HINT_AUTHENTICATOR_APP'}"></span>
					</div>
					<div class="row hint" data-bind="visible: isEnabledTwoFactorAuth">
						<span data-bind="i18n: {'key': '%MODULENAME%/HINT_AUTHENTICATOR_APP_ENABLED'}"></span>
					</div>
					<div class="row buttons" style="text-align: left; margin: 0;">
						<span class="button" data-bind="click: setupAuthenticatorApp, visible: !isEnabledTwoFactorAuth()">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SETUP'}"></span>
						</span>
						<span class="button" data-bind="click: setupAuthenticatorApp, visible: isEnabledTwoFactorAuth">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CONFIGURE'}"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="fieldset" data-bind="visible: bAllowYubikey">
				<div class="fieldgroup">
					<div class="row">
						<h3 data-bind="i18n: {'key': '%MODULENAME%/HEADING_SECURITY_KEYS'}" style="margin: 0;"></h3>
					</div>
					<div class="row hint">
						<span data-bind="i18n: {'key': '%MODULENAME%/HINT_SECURITY_KEYS'}"></span>
					</div>
					<div class="row" data-bind="foreach: securityKeys">
						<div>
							<span data-bind="text: Name || '[Security Key]'"></span>
							<a href="javascript: void(0);" data-bind="click: function () { $parent.askNewSecurityKeyName(Id, Name);}, i18n: {'key': '%MODULENAME%/ACTION_RENAME'}"></a>
							<a href="javascript: void(0);" data-bind="click: function () { $parent.askRemoveSecurityKey(Id, Name); }, i18n: {'key': 'COREWEBCLIENT/ACTION_DELETE'}"></a>
						</div>
					</div>
					<div class="row buttons" style="text-align: left; margin: 0;">
						<span class="button" data-bind="click: addSecurityKey">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_SECURITY_KEY'}"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="fieldset" data-bind="visible: allowBackupCodes">
				<div class="fieldgroup">
					<div class="row">
						<h3 data-bind="i18n: {'key': '%MODULENAME%/HEADING_BACKUP_CODES'}" style="margin: 0;"></h3>
					</div>
					<div class="row hint">
						<span data-bind="i18n: {'key': '%MODULENAME%/INFO_SETUP_BACKUP_CODES'}, visible: !hasBackupCodes()"></span>
					</div>
					<div class="buttons" style="text-align: left; margin-bottom: 0;" data-bind="visible: !hasBackupCodes()">
						<span class="button" data-bind="click: showBackupCodes">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SETUP'}"></span>
						</span>
					</div>
					<div class="row hint">
						<span data-bind="text: infoShowBackupCodes, visible: hasBackupCodes"></span>
					</div>
					<div class="buttons" style="text-align: left; margin-bottom: 0;" data-bind="visible: hasBackupCodes">
						<span class="button" data-bind="click: showBackupCodes">
							<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_CODES'}"></span>
						</span>
					</div>
				</div>
			</div>
		<!-- /ko -->
			
		<!-- ko if: isShowSecret() && showAuthenticatorAppOption() -->
			<div class="fieldset">
				<div class="row">
					<h3 data-bind="i18n: {'key': '%MODULENAME%/HEADING_AUTHENTICATOR_APP'}" style="margin: 0;"></h3>
				</div>
				<div class="row hint">
					<span data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH_USE'}"></span>
				</div>
				<div class="row buttons" data-bind="visible: isEnabledTwoFactorAuth()">
					<span class="button" data-bind="click: disable" style="float: left;">
						<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_DISABLE'}"></span>
					</span>
				</div>
				<div class="fieldgroup">
					<h3 data-bind="i18n: {'key': '%MODULENAME%/LABEL_QR_CODE'}"></h3>
					<span class="QRCode">
						<img data-bind="attr: {src: QRCodeSrc}" />
					</span>
				</div>
				<div class="fieldgroup">
					<h3 data-bind="i18n: {'key': '%MODULENAME%/LABEL_SECRET_KEY'}"></h3>
					<span class="secret" data-bind="text: secret"></span>
				</div>
				<div class="fieldgroup">
					<div class="row hint" style="margin: 0 -6px 12px;">
						<span data-bind="i18n: {'key': '%MODULENAME%/HINT_PIN_DESCRIPTION'}"></span>
					</div>
					<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PIN'}"></span>
					<input id="pin" class="value input" type="text" data-bind="value: pin, hasFocus: pinFocus, valueUpdate: 'afterkeydown', onEnter: validatePin">
					<div class="buttons">
						<span class="button" data-bind="click: validatePin, visible: !isValidatingPin()">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
						</span>
						<span class="button" data-bind="visible: isValidatingPin()">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
						</span>
						<span class="button secondary_button" data-bind="click: cancelSetupAuthenticatorApp">
							<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}"></span>
						</span>
					</div>
				</div>
			</div>
		<!-- /ko -->
	</div>
</div>
