<div class="popup" style="display: none;">
	<div class="mask"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<div class="fields" data-bind="visible: !showBackupCodesVerivication()">
			<h1 data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENTER_PIN'}"></h1>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_PIN'}"></div>
			<div class="fieldset list-block">
				<div class="item-content">
					<div data-bind="css: {'item-inner': isMobile(), 'row': !isMobile()}">
						<span class="item-title label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PIN'}"></span>
						<input class="value input" type="text" spellcheck="false" maxlength="255"
							   data-bind="value: pin, hasFocus: pinFocused, valueUpdate: 'afterkeydown', onEnter: verifyPin" />
					</div>
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_PIN'}, click: verifyPin, visible: !inProgress()"></span>
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_PIN_IN_PROGRESS'}, visible: inProgress()"></span>
				<span class="button contour_button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_SECURITY_KEY'}, click: verifySecurityKey, visible: bAllowYubikey && !verifyingSecurityKey()"></span>
				<span class="button contour_button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_PIN_IN_PROGRESS'}, visible: bAllowYubikey && verifyingSecurityKey()"></span>
				<span class="button contour_button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_USE_BACKUP_CODE'}, click: useBackupCode, visible: bAllowBackupCodes && hasBackupCodes()"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
		<div class="fields" data-bind="visible: showBackupCodesVerivication">
			<h1 data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENTER_BACKUP_CODE'}"></h1>
			<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_ENTER_BACKUP_CODE'}"></div>
			<div class="fieldset list-block">
				<div class="item-content">
					<div data-bind="css: {'item-inner': isMobile(), 'row': !isMobile()}">
						<span class="item-title label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_BACKUP_CODE'}"></span>
						<input class="value input" type="text" spellcheck="false" maxlength="255"
							   data-bind="value: backupCode, valueUpdate: 'afterkeydown', onEnter: verifyBackupCode" />
					</div>
				</div>
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_BACKUP_CODE'}, click: verifyBackupCode, visible: !inProgress()"></span>
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VERIFY_BACKUP_CODE_IN_PROGRESS'}, visible: inProgress()"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
